platform: linux

image_resource:
  type: docker-image
  source:
    repository: gcr.io/kaniko-project/executor
    tag: v1.2.0

inputs:
- name: guest-test-infra
- name: credentials

params:
  DOCKERFILE: Dockerfile

run:
  path: sh
  args:
  - -exc
  - |
    export GOOGLE_APPLICATION_CREDENTIALS=$PWD/credentials/credentials.json
    executor --dockerfile=$DOCKERFILE --context=((context)) --destination=((destination))
