platform: linux

image_resource:
  type: docker-image
  source:
    repository: gcr.io/compute-image-tools/gce_image_publish
    tag: latest

inputs:
- name: compute-image-tools
- name: credentials

params:
  GOOGLE_APPLICATION_CREDENTIALS: "credentials/credentials.json"
  ROLLOUT_RATE: 60

run:
  path: /gce_image_publish
  args:
  - -source_gcs_path=((source_gcs_path))
  - -source_version=((source_version))
  - -publish_version=((publish_version))
  - -rollout_rate = $ROLLOUT_RATE
  - -skip_confirmation
  - -replace
  - -no_root
  - -var:environment=((environment))
  - ./compute-image-tools/daisy_workflows/build-publish/((wf))
