---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: alpine/git

inputs:
- name: repo

outputs:
- name: package-version

run:
  path: ash
  args:
  - -exc
  - |
    cd repo
    latest=$(git tag -l '20*'|tail -1)
    latest_date=${latest/.*}
    todays_date=$(date '+%Y%m%d')
    if [[ $latest_date == $todays_date ]]; then
      latest_build=${latest/*.}
      ((latest_build++))
      new="${todays_date}.${latest_build}"
    else
      new="${todays_date}.00"
    fi
    cd ..
    echo $new | tee package-version/version
