platform: linux

image_resource:
  type: docker-image
  source:
    repository: gcr.io/compute-image-tools/daisy
    tag: latest

inputs:
- name: credentials
- name: guest-test-infra

params:
  GOOGLE_APPLICATION_CREDENTIALS: "credentials/credentials.json"

run:
  path: /daisy
  args:
  - -project=gcp-guest
  - -zone=us-west1-b
  - -var:repo_name=((repo-name))
  - -var:repo_owner=GoogleCloudPlatform
  - -var:git_ref=master
  - -var:gcs_path=gs://gcp-guest-test-outputs/((date))
  - guest-test-infra/container_images/gointegtest/integ-test-all.wf.json