platform: linux

resource_types:
- name: guest-image-private
  type: registry-image
  source:
    repository: gcr.io/compute-image-tools/registry-image-forked

image_resource:
  type: registry-image-private
  source:
    repository: gcr.io/gcp-guest/jsonnet-go
    tag: latest
    google_auth: true

inputs:
- name: guest-test-infra

outputs:
- name: rendered

run:
  path: sh
  args:
  - -exc
  - |
    for template in guest-test-infra/((config_dir))/*.jsonnet; do
      base=$(basename "$template")
      jsonnet $template > rendered/${base//.jsonnet}.json
    done
